
<div class="multi-select-with-checkbox">
   
    <div class="items_holder" ng-click="toggleDropdown($event)">{{placeHolder}}</div>
    
    <div class="dropdown" ng-show="showDropdown" ng-click="dropdownClick($event)">
        <div class = "filter_input"><input ng-model="filterInput"></div>
        
        <div class="Select_all" ng-show="!filterInput" >
            <checkbox-three-state checkbox-state="$ctrl.selectAll" change-state-to="$ctrl.allToggle(newState)"></checkbox-three-state>
            Select all
        </div>
        <!--- group and options -->
        <select-group ng-repeat="group in $ctrl.groupAndOption" group-obj='group' ng-show="showGroup(group)">
<!--                      group-name="group.groupName" group-select="group.select">-->
            <select-option ng-repeat="option in group.groupOptions | filter: {optionName: filterInput}" option-obj='option' 
                           group-name="group.groupName"/>
<!--
                           option-name="option.displayLabel" option-selected="option.select"  
-->
        </select-group>
    </div>
</div>

<style>
    
    .items_holder{
        box-sizing: border-box;
        border: 1px solid black;
        width: 300px;
    }
    
    .dropdown{
        box-sizing: border-box;
        border: 1px solid black;
        width: 300px;
        padding: 3px 10px;
    }
    .filter_input{
    }
    .filter_input input{
        width: 100%;
        box-sizing: border-box;
    }


</style>